.container{
    width: 100%;
}

#box {
    width: 50%;
    height: 300PX;
    padding: 0 5px;
    border: 1px solid black;
}

#pesan {
    width: 75%;
    margin-top: 5px;
    margin-right: 10px;
}

.container-kirim {
    width: 60%;
}